<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BankBot</title>
</head>
<body>
<div class="fb-customerchat"
     page_id="1763997930576291"
     minimized="false">
</div>
<div>
    Bienvenido a BankBot
</div>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId            : 268779656986630,
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.11'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/es_LA/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>